body {
 background: rgb(77, 76, 75);
 color: #cf8ff4;
 }

h1 {
    color: rgb(205, 177, 50);
}

 .title {
    background-color: rgb(144, 123, 123);
 }

 #title {
    background: linear-gradient(to right, rgb(77, 76, 75), rgb(144, 123, 123));
    color: darkseagreen
 } 

 a, a:visited, a:active {
   padding: 0px 3px;
   color: violet;
 }

 a:hover {
   background: violet;
   color:#323232;
 }